.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 6rem;
    background-color: black;
    position: relative;
    z-index: 100;
}

.header h1 {
    color: white;
    align-self: center;
    font-size: 4rem;
}
.logo {
    padding: 1rem;
}

.logo img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.menu-button {
    padding: 1rem;
}

.menu-button img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}