ul li a .nav-item.active {
    background-color: #ffffff !important; 
    color: rgb(222, 238, 6) !important; 
    border-radius: 5px !important;
}
.main-content {
    min-height: 100vh;
}

.info-animal {
    background-color: rgb(95, 58, 73);
    display: grid;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    padding: 20px; 
    gap: 10px;
    grid-template-columns: repeat(1, 1fr);
    max-width: 600px;
    margin-top: 15%;
    margin-bottom: 20%;
    margin-left: 30%;
    border-radius: 10px black;
 }
    
    
.main-content {
    background-color: rgb(95, 58, 73);
}
    
.welcome {
    font-size: 2rem;
    color: black;
    margin-left: 40%;
    margin-top: 25%;
}

.container {
    flex-direction: row;
}

.hide {
    display: none;
}

#message {
    margin-top: 20%;
    margin-left: 30%;
    margin-right: 50%;
    margin-bottom: 30%;
}

@media screen and (max-width: 768px) {
    
   .info-animal {
    background-color:rgb(95, 58, 73);
    margin-top: 15%;
    margin-bottom: 10%;
    margin-left: 20%;
    margin-right: 10%;
    font-size: 0.7rem;
    align-items: center;
   }

   .tooltip {
    opacity: 0; 
    transition: opacity 0.3s ease; 
}

.tooltip.visible {
    opacity: 1; 
}

    
.welcome {
    font-size: 1rem;
    color: black;
    display: flex;
    text-align: center;
}
    
}