ul li a .nav-item.active {
    background-color: #ffffff !important; 
    color: rgb(222, 238, 6) !important; 
    border-radius: 5px !important;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    min-height: 100vh;
}

.info-animal {
    background-color: rgb(95, 58, 73);
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    padding: 40px; 
    gap: 10px;
    grid-template-columns: repeat(1, 1fr);
    max-width: 600px;
    border-radius: 10px black;
    flex-grow: 1;
    }
    
.main-content {
    background-color: rgb(95, 58, 73);
}

.main-content.active {
    margin-left: 250px;
}
    
.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: black;
    flex-grow: 1;
}

.container {
    flex-direction: row;
}

.hide {
    display: none;
}

.reptile-image {
    border-radius: 10px;
    margin: auto;
    width: 80%;
    height: auto;
}

#message {
    margin-top: 20%;
    margin-left: 30%;
    margin-right: 50%;
    margin-bottom: 30%;
}

@media screen and (max-width: 768px) {
    
   .info-animal {
    background-color:rgb(95, 58, 73);
    font-size: 0.7rem;
    align-items: center;
   }

   .tooltip {
    opacity: 0; 
    transition: opacity 0.3s ease; 
}

.tooltip.visible {
    opacity: 1; 
}

    
.welcome {
    font-size: 1rem;
    color: black;
    justify-content: center;
    text-align: center;
}
    
}

@media (max-width: 605px) {
    .main-content {
        margin-left: 60px;
    }
}