.sidebar {
    background-color: var(--background-main-color);
    position: absolute;
    top: 0;
    bottom: 0;
    width: 8rem;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}