main {
    padding: 0;
}

body {
    background-image: none;
}

.team-main {
    display: flex;
    flex-direction: row;
}

.team-content {
    flex-grow: 1;
}

.team-content__image {
    border: solid 3px black;
    margin: 16px;
}

.team-content__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 16px;
}

.team-content__title {
    font-size: 2rem;
    margin: 16px 0;
}

.team-content__text-paragraph {
    font-size: 1.4rem;
}

.selected,
.selected.team-sidebar-button{
    background-color: white;
    color: black;
}